body {
    margin: 0;
    padding: 0;
    color: rgb(235, 235, 235);
    background-color: rgb(65, 65, 65);
}

button {
    border: 2px solid rgb(65, 65, 65);
    border:  none;
}

button:hover{
    background-color: rgb(49, 49, 49);
}

.wave {
    position: absolute;
    top: 10px;
    left: 10px;
}

.container {
    position: absolute;
    left: 600px;
    padding: 10px;
    width: 300px;
}

.hp-container {
    position: absolute;
    top: 600px;
    /* left: 0; */
}

.hp-bar-green {
    position: absolute;
    position: absolute;
    height: 25px;
    width: 600px;
    background-color: green;
    z-index: 2;
}

.hp-bar-red {
    position: absolute;
    height: 25px;
    width: 600px;
    background-color: red;
}

.current-hp {
    z-index: 3;
    position: absolute;
    left: 200px;
}

.separator {
    z-index: 3;
    position: absolute;
    left: 250px
}

.max-hp {
    z-index: 3;
    position: absolute;
    left: 280px;
}

.white-text {
    color: rgb(235, 235, 235);
}

.bg-color-black {
    background-color: rgb(48, 48, 48);
}

